@import url(./reset.css);
@import url(./fonts.css);
@import url(./global.css);
@import url(./popup.css);
@import url(./header.css);

.main {
  margin-top: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.main__inside {
}

.main__intro {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__intro-inside {
}

.main__heading {
  position: relative;
  margin-bottom: 85px;
  z-index: -1;
}

.main__heading-image {
  position: relative;
  z-index: -3;
}

.main__heading-image_first {
  position: absolute;
  top: -95px;
  left: 0;
  z-index: -1;
  width: calc(187 / 1440 * 100%);
}

.main__heading-image_second {
  position: absolute;
  bottom: -45px;
  right: 0;
  z-index: -1;
  width: calc(325 / 1440 * 100%);
}

.main__heading-image-item {
  max-width: 100%;
}

.main__title {
}

.first-title {
  font-weight: 700;
  font-size: 4.9rem;
  text-transform: uppercase;
  line-height: 7.07rem;
  text-align: center;
  background: none;
  border: none;
}

@media (max-width: 992px) {
  .first-title {
    font-size: 3.2rem;
    line-height: 6.07rem;
  }
}

@media (max-width: 576px) {
  .first-title {
    font-size: 2rem;
    line-height: 5.07rem;
  }
}

.main__intro-costs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.main__intro-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.14rem;
  line-height: 1.35rem;
}

.main__intro-row {
  display: flex;
  justify-content: space-between;
  gap: 231px;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #000;
}

@media (max-width: 576px) {
  .main__intro-row {
    gap: 100px;
  }
}

.main__intro-row:last-child {
  border-bottom: 1px solid #000;
}

.main__intro-reference {
}

.main__intro-cost {
}

.main__intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 576px) {
  .main__intro-buttons {
    flex-direction: column;
  }
}

.main__intro-button {
}

.button-order-black,
.button-order-white {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8571rem;
  line-height: 2.5rem;
  font-weight: 400;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
}

.button-order-black {
  color: #fff;
  background-color: #000;
}

.button-order-black:hover {
  color: rgb(0, 0, 0);
  background-color: #ee4e9c;
}

.button-order-black span {
  margin: 0 54px;
}

.button-order-white {
  color: #000;
  background-color: #fff;
}

.button-order-white:hover {
  color: rgb(0, 0, 0);
  background-color: #84cba1;
}

.button-order-white span {
  margin: 0 10px;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 3.785rem;
  text-align: center;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .subtitle {
    font-size: 1.55rem;
  }
}

.main__advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 160px;
}

.main__advantages-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.main__advantages-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__advantage-heading-inside {
}

.heading {
  margin-bottom: 25px;
}

.main__advantages-subtitle {
}

.main__advantages-title {
}

.main__advantages-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .main__advantages-row {
    flex-direction: column;
  }
}

.main__advantages-column-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  border-left: 1px solid #000;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .main__advantages-column-wrapper {
    height: 300px;
  }
}

.main__advantages-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 35px 0;
}

@media (max-width: 768px) {
  .main__advantages-column-wrapper {
    height: 350px;
  }
}

.main__advantages-column_border-none {
  border-left: none;
}

.main__advantages-subcolumn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 264px;
}

.main__advantages-icon {
  margin-bottom: 25px;
}

.main__advantages-icon-item {
}

.main__advantages-name {
  font-size: 1.714rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.071rem;
  margin-bottom: 5px;
}

@media (max-width: 920px) {
  .main__advantages-name {
    font-size: 1.214rem;
  }
}

.main__advantages-text {
}

.small_text {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #000;
  line-height: 1.214rem;
}

.main__services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .main__services {
    /* position: relative;
        z-index: -1; */
  }
}

.main__services-heading {
  margin-bottom: 25px;
}

.main__services-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.main__services-button.active {
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin-bottom: 0;
}

.accordion {
}

.main__services-panel {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  padding-top: 25px;
  transition: all 0.2s linear 0s;
  visibility: collapse;
}

.main__services-button.accordion.active + .main__services-panel {
  height: 534px;
  background-color: #000;
  color: #fff;
  transition: all 0.2s linear 0s;
  visibility: visible;
}

.main__services-button.accordion.active + .main__services-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 1000px;
  transition: all 0.2s linear 0s;
}

.main__services-button.accordion.active > svg {
  transform: rotate(180deg);
}

.main__services-button.accordion.active > svg > path {
  fill: rgb(255, 255, 255);
}

.main__services-text {
  text-align: center;
  width: 100%;
  max-width: 237px;
  overflow: hidden;
}

.main__services-order-button {
  overflow: hidden;
  width: 100%;
  max-width: 237px;
}

.main__about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main__about-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}

.main__about-text {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.357rem;
  line-height: 120%;
  text-align: justify;
  font-weight: 400;
}

@media (max-width: 768px) {
  .main__about-text {
    font-size: 1.6rem;
  }
}

.main__about-button {
  width: 100%;
  max-width: 234px;
}

.main__terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}

.main__terms-inside {
}

.main__terms-heading {
}

.main__terms-subtitle {
}

.main__terms-title {
}

.main__terms-table {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.main__terms-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.main__terms-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  border-top: 1px solid #000;
}

.main__terms-column:last-child {
  border-bottom: 1px solid #000;
}

.main__terms-cirlce {
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 10px;
}

.main__terms-name {
  position: absolute;
  top: 38.5%;
  left: 42.5%;
  width: 180px;
  text-align: center;
}

@media (max-width: 768px) {
  .main__terms-name {
    position: relative;
    top: 0;
    left: 0;
  }
}

.main__terms-term {
  margin: 25px 0;
}

.main__reviews {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.main__reviews::-webkit-scrollbar {
  display: none;
}

.main__reviews-heading {
}

.main__reviews-subtitle {
}

.main__reviews-title {
}

.main__reviews-inside {
  display: flex;
  overflow-x: hidden;
  width: 98vw;
}

.main__reviews-inside::-webkit-scrollbar {
  display: none;
}

.main__reviews-button {
  padding: 0 15px;
}

.main__reviews-row {
  padding-left: 28px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  min-height: 700px;
  min-width: 100%;
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.main__reviews-row::-webkit-scrollbar {
  display: none;
}

.main__reviews-column {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
  width: 355px;
  border-left: 1px solid #000;
  padding: 27px;
}

.main__reviews-column:first-child {
  border: none;
}

.main__reviews-image {
  width: 86px;
  aspect-ratio: 1/1;
}

.main__reviews-image-item {
  max-width: 100%;
  border-radius: 100%;
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.main__reviews__name {
}

.main__reviews__text {
  text-align: left;
  font-size: 1rem;
  line-height: 1.214rem;
  white-space: normal;
  max-width: 200px;
  word-wrap: break-word;
  display: inline;
}

.main__clients {
  width: 98vw;
  margin-bottom: 100px;
}

.main__clients-inside {
}

.main__clients-heading {
}

.main__clients-subtitle {
}

.main__clients-title {
}

.main__clients-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  min-width: 100%;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.main__clients-row::-webkit-scrollbar {
  display: none;
}

.main__clients-column {
  height: 350px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000;
  padding: 1px;
}

.main__clients-image {
  max-height: 100%;
}

.main__map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.main__map-inside {
  width: 100%;
}

.main__map-heading {
}

.main__map-title {
}

.main__map-table {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #000;
}

@media (max-width: 576px) {
  .main__map-table {
    flex-direction: column;
  }
}

.main__map-column {
}

.main__map-column_first {
  width: 40%;
}

@media (max-width: 576px) {
  .main__map-column_first {
    width: 100%;
  }
}

.main__map-column_second {
  width: 60%;
  border-left: 1px solid #000;
}

@media (max-width: 576px) {
  .main__map-column_second {
    width: 100%;
    border-left: none;
  }
}

.main__map-contacts {
  background-color: #000;
  color: #fff;
  padding-top: 28px;
  padding-left: 28px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}

@media (max-width: 576px) {
  .main__map-contacts {
    padding: 4px;
  }
}

.main__map-name {
  font-weight: 700;
  font-size: 1.714rem;
}

.main__map-address,
.main__map-phone-numbers {
  font-size: 1.285rem;
  line-height: 1.571rem;
  font-weight: 400;
  text-align: left;
}

.main__map-phone-numbers {
}

.main__map-map {
  width: 100%;
}

.main__map-map-item {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
}

.footer__inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 576px) {
  .footer__inside {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__logo {
  margin-right: 25px;
  align-self: start;
}

.footer__about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.footer__about-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  max-width: 370px;
  width: 100%;
}

@media (max-width: 576px) {
  .footer__about-info {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__company {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  font-size: 1.714rem;
  line-height: 2.071rem;
  font-weight: 700;
}

.footer__text {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  line-height: 120%;
}

.footer__docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.571rem;
  font-size: 1.285rem;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 576px) {
  .footer__docs {
    gap: 7px;
  }
}

.foorter__docs-item {
}

.footer__links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  gap: 20px;
  align-self: end;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .footer__links {
    display: none;
  }
}

.footer__nav {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.footer__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.footer__list_first {
}

.footer__list-item {
}

.footer__list-link {
}

.footer__list_second {
}

.footer__ISO {
}

.footer__contact {
  font-size: 1.714rem;
  line-height: 2.071rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}

.footer__number {
}

.footer__email {
}
