@import url(./index.css);

.wrapper {
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup__authorization,
.popup__registration {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  visibility: visible;
  border: 1px solid #000;
  border-radius: 5px;
  align-self: center;
  justify-items: center;
}

.popup__authorization-logIN {
  border: 3px solid #000;
  border-radius: 8px;
  height: 48px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.285rem;
  width: 100%;
  padding: 0 20px;
}
